<div class="head"><h1>Ajouter un laboratoire:<mat-icon (click)="closeDialog()">close</mat-icon></h1>
</div>
<mat-divider></mat-divider>
<form #lform="ngForm" (ngSubmit)="add(lform.value)">
<div class="container">
<input type="text" placeholder="Nom laboratoire" name="lib_laboratoire"ngModel>
<input type="text" placeholder="Addresser laboratoire" name="adrs_laboratoire"ngModel>
</div>
<div class="container">
<input type="email" placeholder="Email" name="email_laboratoire" ngModel>
<input type="text" placeholder="Telephone" name="tel_laboratoire" ngModel>

</div>


<div class="container3">
<input type="reset" value="Reset" class="btn" id="rzt">
<input type="submit" value="Submit" class="btn" id="sub">

</div>




</form>
